<form id="snapshot-form" class="form-horizontal" role="form">
    <div class="form-group">
        <label class="control-label" for="title">Title</label>
        <input id="title" class="form-control" value = "<%= title %>" required autofocus />
    </div>
    <div class="form-group">
        <label class="control-label" for="description">Description</label>
        <textarea id="description" class="form-control" rows="3"><%= description %></textarea>
    </div>
    <div class="form-group">
        <label class="control-label" for="address">Address</label>
        <div class="form-group">
            <div class="col-sm-9">
                <input id="address" class="form-control" value="<%= address %>"/>
            </div>
            <button id="use-current-location" class="btn btn-success col-sm-2">Current</button>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="tag">Tag</label>
        <div class="form-group">
            <div class="col-sm-4">
                <input id="tag" class="form-control" value="<%= tag %>" required/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" id="update-snapshot" class="btn btn-lg btn-primary">Submit</button>
    </div>
</form>
